<header>
    <div class="nav">
        <a href="{{ path('main') }}"><i class="fas fa-home"></i></a>
        {% if is_granted('ROLE_USER') %}
        <a href="{{ path('posts_index') }}"><i class="fas fa-archive"></i></a>
        {% endif %}
    </div>

    <div class="profile">
    <a href="{{ path('changeLocale') }}"><i class="fas fa-globe-americas"></i></a>
    {% if is_granted('ROLE_USER') %}
            <span>{{ app.user.username }}</span>
            <a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i></a>
    {% else %}
            <a href="{{ path('app_login') }}">{% trans %}Login{% endtrans %}</a>| <a href="{{ path('app_register') }}">{% trans %} Sign up{% endtrans %}</a>
    {% endif %}
    </div>
</header>